<form class="search-form" id="search-form">
  <input
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button class="search-button">Search!</button>
</form>
<ul class="gallery">
  <!-- Список <li> с карточками изображений -->
</ul>