html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: url('./images/bg-pattern.png');
}
.wrapper {
  width: 90vw;
  margin: 0 auto;
}

[name='query'] {
  width: calc(100% - 280px);
  font-size: 1.5rem;
  padding: 5px;
}
.search-button {
  font-size: 1.5rem;
  padding: 5px;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0;
}
.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  border: solid 1px;
}

.img-card {
  width: 100%;
}
.stats {
  display: flex;
  justify-content: space-evenly;
}
.stats-item {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: 0;
}
.material-icons {
  margin-right: 5px;
}
